<!DOCTYPE html>
<html lang="en" xmlns:th="https:www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Courses</title>
</head>
<body>
<h1>Our Courses For You</h1>
<table>
    <tr>
        <td>Id</td>
        <td>Title</td>
        <td>Starting Day</td>
        <td>Action</td>
    </tr>
    <tr th:each="courseDto: ${courseListDto}">
        <td th:text="${courseDto.id}">Id</td>
        <td th:text="${courseDto.title}">Title</td>
        <td th:text="${courseDto.startingDay}">Starting Day</td>
        <td><a th:href="@{/addCourseToStudent(studentId=${studentId},
        courseId=${courseDto.id})}">add course</a></td>
    </tr>
</table>
<div class="btn-block">
    <button><a href="/studentList">Back</a></button>
</div>
</body>
</html>